<table class="table table-striped">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Valor</th>
    <th scope="col">Delete</th>
  </thead>

  <tbody>
    <tr *ngFor = "let job of jobs">
      <th scope="row">{{ job.id }}</th>
      <td>{{ job.nome }}</td>
      <td>{{ job.valor | number:'1.2-2' }}</td>
      <td (click)="deleteJob(job.id)"><span class="fa fa-times btn-delete"></span></td>
    </tr>

    <tr>
      <th></th>
      <td></td>
      <td></td>
      <th scope="row">Valor Total: {{ valorTotal | currency:"R$":"BRL":'1.0-2'}}</th>
    </tr>
  </tbody>
</table>