.reminders {
    margin: 5% 0;
}

.reminder-box {
    background-color: 	#3b5998;
    color: #fff;
    padding: 2%;
    word-wrap: break-word;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    box-shadow: 5px 5px 	#8b9dc3;
    margin: 2% 4%;
}

.text-box {
    padding: 5% 0%;
    border-bottom: 1px solid #8b9dc3;
}

.info {
    margin-top: 10px;
}

.btn-delete{
    float: right;
}