<div class="reminders">
  <div class="row">
    <div class="col-md-3 reminder-box" *ngFor="let reminder of reminders">
      <i class="fa fa-quote-left" style="font-size:36px"></i>
      <div class="text-box">
        <span>{{ reminder.texto }}</span>
      </div>
      
      <div class="info">
        <span>{{ reminder.id }}</span>
        <span class="fa fa-times btn-delete" (click)="deleteReminder(reminder.id)"></span>
      </div>
    </div>
  </div>
</div>