<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="assets/logo.png" alt="Logo" class="logo">

      </div>

      <ul class="nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</header>