
.form-container {
    max-width: 350px;
    padding: 40px 40px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 2px;
    background-color: 	#eaeaea;
    border-color: 	#3b5998;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.6);
}

.form-container img {
    display: block;
    margin: 0 auto;
    width: 130px;
    margin-bottom: 20px;
}

.form-login h2 {
    text-align: center;
}

.form-login input {
    margin-top: 5%;
    background-color: #fff;
}

.form-login button {
    margin-top: 7%;
    width: 100%;
    color: #fff;
    background-color: #4e69a2;
    text-transform: capitalize;
    font-size: 17px;
}