<div class="container">
  
  <div class="form-container">
      
    <img src="assets/logo.png" alt="logo">

    <div class="form-login">
      <h2>Login</h2>
      <input [(ngModel)]="user.login" (keyup.enter)="loginUser()" type="text" class="form-control" placeholder="usuario">
      <input [(ngModel)]="user.password" (keyup.enter)="loginUser()" type="password" class="form-control" placeholder="senha">
      <button (click)="loginUser()" class="btn btn-lg" type="submit">entrar</button>
    </div>
  </div>
</div>