<app-navbar></app-navbar>

<div class="container">
  <div id="add-job">
    <p class="titles">Adicionar Novo Trabalho</p>

    <div class="form-row">
      <div class="col-md-8 col-sm-12">
        <input (keyup.enter)="recebeJob()" type="text" class="form-control" placeholder="Nome do Job" [(ngModel)]="job.nome">
      </div>

      <div class="col-md-2 col-sm-6">
        <input (keyup.enter)="recebeJob()" type="number" class="form-control" placeholder="valor" min="0" step="0.01" [(ngModel)]="job.valor">
      </div>

      <div class="col-md-2 col-sm-6">
        <a (click)="recebeJob()" class="btn btn-md btn-primary">Adicionar</a>
      </div>
    </div>

    <p class="titles">Adicionar Lembrete</p>

    <div class="form-row">
      <div class="col-md-10">
        <input (keyup.enter)="recebeReminder()" type="text" class="form-control" placeholder="Lembrete" [(ngModel)]="reminder.texto">
      </div>

      <div class="col-md-2">
        <a (click)="recebeReminder()" class="btn btn-md btn-primary">Adicionar</a>
      </div>
    </div>
  </div>

  <app-reminders></app-reminders>

  <app-table></app-table>
</div>