#add-job {
    margin-top: 5%;
    margin-bottom: 8%;
}

.titles {
    color: gray;
    margin-bottom: 0.5%;
    font-weight: bolder;
    font-size: 1.5em;
}

.btn, .btn:active, .btn:visited {
    background-color: #fff;
    border-color: #3b5998;
    color: #3b5998;
    width: 100%;
}

.btn:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn:hover {
    background-color: #8b9dc3;
    color: #fff;
    border-color: #dfe3ee;
}

.form-row {
    margin-bottom: 6%;
}

.form-row div {
    padding-top: 2%;
}